---
---

$primary-text-color: #FFF;
$primary-color-light: #C5CAE9;
$primary-color-dark: #3F51B5;
$blog-title-font-size: 1.5em;
$max-blog-title-length: 850px;
$max-page-width: 1200px;
$header-height: 60px;
$header-height-plus-ten: 70px;

@mixin fading-underline($color){
	border-bottom: 1px solid rgba($color, 0);
	-webkit-transition: border $fade-time ease;
	-moz-transition: border $fade-time ease;
	-ms-transition: border $fade-time ease;
	-o-transition: border $fade-time ease;
	transition: border $fade-time ease; 
	&:hover{border-bottom: 1px solid rgba($color, 1);}
}

.rotateme{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-top: 30px;
	}



/* Home Page */
#hometop{
	background: url('images/page/homepage.jpg');
	background-size: cover;
	height: 100vh;
	width:100%;
	margin-top:-$header-height;
	
	
}
#homecontent{
	a{
		color: $primary-text-color;
		padding: 20px;
		margin: 20px;
		border-radius: 10px;
		background-color: $primary-color-dark;
	}
	.content h1{
		border: solid 4px $primary-color-dark;
		padding: 5px;
		border-radius: 8px;
		font-size: 3em;
		
	}
	box-sizing:border-box;
	max-width: 100%;	
}


#homedivider{
	height: 60px;
	background: $primary-color-dark;
}

#homedividerthin{
	margin-top: 20px;
	height: 4px;
	background: $primary-color-dark;
}

h1{
	color: $primary-color-dark;
}

.homebox{
	width: 350px;
	height: 250px;
	margin-top: 20px;
	display: inline-block;
	text-align: justify;
	border: 2px solid $primary-color-dark;
	border-radius: 8px;
	vertical-align: top;
	h2{
		text-align: center;
		color: $primary-color-dark;
	}
	
	ul{
		padding-left: 2em;
		padding-right: 1em;	
	}
}

#logo{
	width: 250px;
	img{
		max-width: 95%;
		max-height: 95%;
	}
	
}

.homebox2{
	width: 350px; 
	display: inline-block;
	vertical-align: top;
	img{
		max-width: 95%;
		max-height: 95%;
	}
}


#titletext{
	color: $primary-text-color;
	font-size: 100px;
	margin-top: 100px;
	font-family: 'Indie Flower', cursive;
}

/* General */


.anchor{
	display: block;
	height: $header-height;
	margin-top: - $header-height;
	visibility: hidden;
}
.content{
	max-width: $max-page-width;
	margin: 0px auto;
	text-align: center;
	margin-top:$header-height;
	padding-top: 10px;
}


body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0px;
	text-align: left;
}

a{
	text-decoration: none;
	color: $primary-color-dark;
}

p{
	padding-left: 20px;
	padding-right: 10px;
	text-align: justify;
}
img{
	margin: 8px;
	max-width: 400px;
}

#involved-tutors{
	text-align: left;
}

#involved-schools{
	text-align: left;
}

.pagetitle{
	text-align: center;
	border: solid 4px $primary-color-dark;
		padding: 5px;
		border-radius: 8px;
		font-size: 3em;
}

/* Navigation bar */
.webnav
{
	background-color: $primary-color-dark;
	font-size: 1.5em;
	position: fixed;
	top:0px;
	color: $primary-text-color;
	width: 100%;
	height: $header-height;
	z-index: 1000;
	text-align: right;
}

.webnav img
{
	float: left;
	padding: 2px;
	border-radius: 8px;
}

.webnav ul
{
	list-style: none;
	height: 22px;
	margin-top: 1px;
	padding-left: 63px;
	text-align: left;
	
}

.webnav ul li:nth-child(1)
{
	margin-left: 10px;
}


.webnav ul li
{
	float: left;
	display: block;
	margin-top: 2px;
	margin-right: 10px;
	background: $primary-color-dark;
	border: 2px solid $primary-color-dark;
	border-radius: 6px;
	position: relative;
}

.webnav .menulist li>:first-child
{
	text-decoration: none;
	color: $primary-text-color;
	float: none;
	display: block;
	background: $primary-color-dark;
	padding: 4px;
	padding-top: 8px;
	border: 2px solid $primary-color-dark;
	border-radius: 6px;
}

.webnav .dropdownitem
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.webnav .dropdownlist > li :hover
{
	border-color: $primary-color-light;
	background: $primary-color-light;
	color: $primary-color-dark;
	border-radius: 0px;
}



.webnav .dropdownlist > li:last-child :hover
{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.webnav .menulist > li
{
	margin-top: 4px;
}

.webnav .menulist > li:hover >:first-child
{
	border-color: $primary-color-light;
	background: $primary-color-light;
	color: $primary-color-dark;
}

.webnav li:hover > .dropdownlist
{
	display: block;
}

.webnav li:hover
{
	border-color: $primary-color-dark;
	background: $primary-color-dark;
	color: $primary-text-color;
}



.webnav .dropdownlist
{
	display: none;
	position: absolute;
	padding-left: 0px;
	margin-top: -5px;
	z-index: 2;
}
.webnav .dropdownlist li
{
	text-decoration: none;
	color: $primary-text-color;
	float: none;
	display: block;
	background: $primary-color-dark;
	border: none;
	border-radius: 0px;
	width: 250px;
	margin-top: 0px;
	border-left: 2px;
	border-right: 2px;;
}
.webnav .dropdownlist li:first-child
{
	margin-left: 0px;
	margin-top: 1px;
	border-top: 2px;
}

.webnav .dropdownlist li:last-child
{
	border-bottom: 2px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}




.mobnav{
	background-color: $primary-color-dark;
	font-size: 1.5em;
	z-index: 1000;
	text-align: left;
	max-width: 270px;
	left: -300px;
	position: fixed;
	a{
		color: $primary-text-color;
		padding: 10px;
		display: block;
	}
}

.mobnav ul
{
	list-style: none;
	height: 22px;
	margin-top: 1px;
	padding-left: 0px;
	text-align: left;
	
}

.mobnav label
{
	color: $primary-text-color;
	margin: 10px;
	display: block;
}
.mobnav ul li
{
	float: left;
	display: block;
	background: $primary-color-dark;
	position: relative;
	width: 100%;
}

.mobdropdownlist{
	display: none;
	border-color: $primary-color-light;
	background: $primary-color-light;
	color: $primary-color-dark;
	li{
		border-color: $primary-color-light;
		background: $primary-color-light;
		color: $primary-color-dark;
	}
	a{
		border-color: $primary-color-light;
		background: $primary-color-light;
		color: $primary-color-dark;
	}
}

.mobmenulist li{
	width: 275px;
}

.mobmenulist li:hover{
	color: $primary-color-dark;
	border-color: $primary-color-light;
	background: $primary-color-light;
}

.mobnav li:hover
{
	border-color: $primary-color-dark;
	background: $primary-color-dark;
	color: $primary-color-light;
}

.mobdropdownitem input:checked + ul{	
	display: block;
}

#hidemobnav{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
}


#navtitle{
	float: left;
	padding-top: 13px;
	padding-left: 8px;
	a{
		color: $primary-text-color;
	}
}

#navcontent{
	display: inline-block;
}

#hamburger{display: none;}

#headertitlemob{
	display: none;
	font-family: 'Indie Flower', cursive;	
}

#headertitle{
	font-family: 'Indie Flower', cursive;
}

/* Blog stuff */


.title{
	display: inline-block;
	float: left;
	margin: 0px;
	font-size: $blog-title-font-size;
	padding-left: 8px;
	color: $primary-color-dark;
}

.date{
	overflow: hidden;
	text-align: right;
	margin: 0px;
	padding-right: 10px;
}

.post{
	margin-top: 10px;
	text-align: justify;
}

.post img{
	max-width: 500px;
	max-height: 500px;
	float: left;
}

.blogdivider{
	width:100%;
	height:1px;
	background-color: $primary-color-dark;
	overflow: hidden;
}

.aligner{
	font-size: $blog-title-font-size;
	
}

.pagination-links{
	text-align: center;
}

.button{
	padding: 10px;
	background-color: $primary-color-dark;
	color: $primary-text-color;
	border-radius: 5px;
	margin: 10px;
}

.button-grey-out{
	padding: 10px;
	background-color: $primary-color-light;
	color: $primary-color-dark;
	border-radius: 5px;
	margin: 10px;
}

.page-number{
	display: inline-block;
}

/* Committee/Trustee stuff */
.com-title{
	display: inline-block;
	float: left;
	margin: 0px;
	font-size: $blog-title-font-size;
	padding-left: 8px;
	color: $primary-color-dark;
}

.com-post{
	display: inline-block;
	max-width: 550px;
	height: 330px;
	margin-top: 10px;
	text-align: justify;
	vertical-align: top;
}

.com-post img{
	max-width: 200px;
	max-height: 200px;
	float: left;
}

.com-divider{
	width:100%;
	height:1px;
	background-color: $primary-color-dark;
	overflow: hidden;
}

.trust-post{
	display: inline-block;
	max-width: 550px;
	height: 400px;
	margin-top: 10px;
	text-align: justify;
	vertical-align: top;
}

.trust-post img{
	max-width: 200px;
	max-height: 200px;
	float: left;
}

/* Footer */

#footer{
	background-color: $primary-color-dark;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	color: $primary-text-color;
	font-size: 20px;
	div{
		display: inline-block;
	}
}

#footer-social{
	float: left;
	img{
		max-width: 30px;
		max-height: 30px;
	}
	p{
		margin-top: 0px;
		margin-bottom: 0px;
	}
}




/* Media queries */

@media all and (max-width: 1000px){
	#hamburger{display: block}
	#navcontent{display: none;}
	#titletext{font-size: 50px;}
}

@media all and (max-width: 500px){
	#titleimage{max-width: 50%}
	#titletext{font-size: 20px;}
}
@media all and (max-width: 400px){
	#headertitle{display: none;}
	#headertitlemob{display: inline;}
}
@media all and (max-width: 350px){
	.homebox{max-width: 95%; height: auto;}
	.com-post img{max-width: 95%}
	.trust-post img{max-width: 95%}
}
@media all and (max-width: 1121px){
	.com-post{height: auto;}
	.trust-post{height: auto;}
}

@media all and (max-width: $max-blog-title-length){
	.title{float: none; text-align: left;}
	.date{text-align: left; padding-left: 10px;}
}