---
---

$primary-color-light: #d7dcee;
$primary-color-dark: #2f68a1;
$blog-title-font-size: 1.5em;
$max-blog-title-length: 850px;
$max-page-width: 1200px;
$header-height: 60px;

@mixin fading-underline($color){
	border-bottom: 1px solid rgba($color, 0);
	-webkit-transition: border $fade-time ease;
	-moz-transition: border $fade-time ease;
	-ms-transition: border $fade-time ease;
	-o-transition: border $fade-time ease;
	transition: border $fade-time ease; 
	&:hover{border-bottom: 1px solid rgba($color, 1);}
}


/* Home Page */
#hometop{
	background: url('images/homepage.JPG');
	background-size: cover;
	top: $header-height;
	height: 1000px;
	width:100%;
	

}
#homecontent{
	a{
		color: $primary-color-light;
		padding: 20px;
		margin: 20px;
		border-radius: 10px;
		background-color: $primary-color-dark;
	}
	max-width: 100%;
	
	
}

#getInvolved{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#homelinks{
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translateY(-50%) translateX(-50%);
}


/* General */


.content{
	max-width: $max-page-width;
	margin: 0px auto;
}

body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0px;
	text-align: left;
}

a{
	text-decoration: none;
	color: $primary-color-dark;
}

p{
	padding-left: 20px;
	padding-right: 10px;
}


/* Navigation bar */

.nav{
	background-color: $primary-color-dark;
	font-size: 1.5em;
}

#webnav
{
	position: fixed;
	color: $primary-color-light;
	width: 100%;
	height: $header-height;
	z-index: 1000;
	text-align: right;
}

#webnav img
{
	float: left;
	padding: 2px;
	border-radius: 8px;
}

#webnav ul
{
	list-style: none;
	height: 22px;
	margin-top: 1px;
	padding-left: 63px;
	text-align: left;

}

#webnav ul li:nth-child(1)
{
	margin-left: 10px;
}


#webnav ul li
{
	float: left;
	display: block;
	margin-top: 2px;
	margin-right: 10px;
	background: $primary-color-dark;
	border: 2px solid $primary-color-dark;
	border-radius: 6px;
	position: relative;
}

#webnav .menulist li>:first-child
{
	text-decoration: none;
	color: $primary-color-light;
	float: none;
	display: block;
	background: $primary-color-dark;
	padding: 4px;
	padding-top: 8px;
	border: 2px solid $primary-color-dark;
	border-radius: 6px;
}

#webnav .dropdownitem
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


#webnav .dropdownlist > li :hover
{
	border-color: $primary-color-light;
	background: $primary-color-light;
	color: $primary-color-dark;
	border-radius: 0px;
}


	
#webnav .dropdownlist > li:last-child :hover
{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#webnav .menulist > li:hover >:first-child
{
	border-color: $primary-color-light;
	background: $primary-color-light;
	color: $primary-color-dark;
}

#webnav li:hover > .dropdownlist
{
	display: block;
}

#webnav li:hover
{
	border-color: $primary-color-dark;
	background: $primary-color-dark;
	color: $primary-color-light;
}
	
#webnav .dropdownlist
{
	display: none;
	position: absolute;
	padding-left: 0px;
	margin-left: -2px;
}
#webnav .dropdownlist li
{
	text-decoration: none;
	color: $primary-color-light;
	float: none;
	display: block;
	background: $primary-color-dark;
	border: none;
	border-radius: 0px;
	width: 250px;
	margin-top: 0px;
	border-left: 2px;
	border-right: 2px;;
}
#webnav .dropdownlist li:first-child
{
	margin-left: 0px;
	margin-top: 1px;
	border-top: 2px;
}

#webnav .dropdownlist li:last-child
{
		border-bottom: 2px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
}




#mobnav{
	display: none;
	text-align: left;
	a{
		color: $primary-color-light;
		margin: 10px;
		display: block;
	}
}

#navtitle{
	float: left;
	padding-top: 12px;
	padding-left: 8px;
	a{
		color: $primary-color-light;
	}
}

#navcontent{
	display: inline-block;
}

/* Blog stuff */


.title{
	display: inline-block;
	float: left;
	margin: 0px;
	font-size: $blog-title-font-size;
	padding-left: 8px;
	color: $primary-color-dark;
}

.date{
	overflow: hidden;
	text-align: right;
	margin: 0px;
	padding-right: 10px;
}

.post{
	margin-top: 10px;
	text-align: justify;
}

.post img{
	max-width: 500px;
	max-height: 500px;
	float: left;
}

.blogdivider{
	width:100%;
	height:1px;
	background-color: $primary-color-dark;
	overflow: hidden;
}

.aligner{
	font-size: $blog-title-font-size;
	
}

.pagination-links{
	text-align: center;
}
	
.button{
	padding: 10px;
	background-color: $primary-color-dark;
	color: $primary-color-light;
	border-radius: 5px;
	margin: 10px;
}

.button-grey-out{
	padding: 10px;
	background-color: $primary-color-light;
	color: $primary-color-dark;
	border-radius: 5px;
	margin: 10px;
}

.page-number{
	display: inline-block;
}

/* Footer */

#footer{
	background-color: $primary-color-dark;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	color: $primary-color-light;
	font-size: 20px;
	position: fixed;
	bottom: 0px;
}



/* Media queries */

@media all and (max-width: 400px){
	#webnav{display: none;}
	#mobnav{display: inline;}

}

@media all and (max-width: $max-blog-title-length){
		.title{float: none; text-align: left;}
	.date{text-align: left; padding-left: 10px;}
}