<div id="webnav" class="nav"> 
	<div id="navtitle">
		<a href="/index.html" id="headertitle">Students4Students</a>
	</div>
	<nav id="navcontent">
		<ul class="menulist">
			<li><a href="/index.html">Home</a></li>
			<li class="dropdownitem">
				<label>About Us</label>

				<ul class="dropdownlist">
					<li><a href="/about.html">What we do</a></li>
					
					<li><a href="">Our Journey</a></li>
					
					<li><a href="">Meet the Committee</a></li>
					
					<li><a href="">Meet the Trustees</a></li>
				
				</ul>
					
			</li>
			
			<li class="dropdownitem">
				<label>Get Involved</label>
				
				<ul class="dropdownlist">
					<li><a href="">For Tutors</a></li>
					
					<li><a href="">For Schools</a></li>
				</ul>
			</li>
			<li><a href="/blog/index.html">Blog</a></li>
		</ul>
	</nav>
</div>



<div id="mobnav" class="nav"> 
	<a href="/index.html">Home</a>
	<a href="/about.html">About us</a>
	<a href="/blog/index.html">Blog</a>
</div>