<head>
	<link rel="stylesheet" type="text/css" media="all" href="/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<meta name="theme-color" content="#2f68a1">
	<title>Students4Students</title>
	
	<!-- Font Imports -->
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	
	<!-- JS -->
	<script src = "/js/functions.js"> </script>
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>

	
	<!-- Smooth Scrolling Script -->
	<script>
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top
						}, 1000);
						return false;
					}
				}
			});
		});
	</script>
<div class="webnav" id="webnav"> 
	<img id="hamburger" src="/images/hamburger.svg" onclick="expandmobnav()">
	<a href="/index.html"><img src="/images/logo.jpg" style="max-width: 40px;"></a>
	<div id="navtitle">
		
		<a href="/index.html" id="headertitle">Students4Students</a>
		<a href="/index.html" id="headertitlemob">S4S</a>
	</div>
	<nav id="navcontent">
		<ul class="menulist">
			<li><a href="/index.html">Home</a></li>
			<li class="dropdownitem">
				<label>About Us</label>

				<ul class="dropdownlist">
					<li><a href="/about-what-we-do.html">What we do</a></li>
					
					<li><a href="/about-our-journey.html">Our Journey</a></li>
					
					<li><a href="/about-the-committee.html">Meet the Committee</a></li>
					
					<li><a href="/about-the-trustees.html">Meet the Trustees</a></li>
					
					<li><a href="/news/index.html">News</a></li>
				
				</ul>
					
			</li>
			
			<li class="dropdownitem">
				<label>Get Involved</label>
				
				<ul class="dropdownlist">
					<li><a href="/get-involved-tutors.html">For Tutors</a></li>
					
					<li><a href="/get-involved-schools.html">For Schools</a></li>
				</ul>
			</li>
			<li><a href="/blog/index.html">Blog</a></li>
			<li><a href="/contact-us.html">Contact Us</a></li>
		</ul>
	</nav>
</div>



<div class="mobnav" id="mobnav"> 
	<div id="mobnavtitle">
		
	</div>
	<nav id="mobnavcontent">
		<ul class="mobmenulist">
			<li><a href="/index.html">Home</a></li>
			<li class="mobdropdownitem">
				<label for="about-us">About Us +</label>
				<input id="about-us" type="checkbox" style="display: none">
				<ul class="mobdropdownlist">
					<li><a href="/about-what-we-do.html">- What we do</a></li>
					
					<li><a href="/about-our-journey.html">- Our Journey</a></li>
					
					<li><a href="/about-the-committee.html">- Meet the Committee</a></li>
					
					<li><a href="/about-the-trustees.html">- Meet the Trustees</a></li>
				
				</ul>
					
			</li>
			
			<li class="mobdropdownitem">
				<label for="get-involved">Get Involved +</label>
				<input id="get-involved" type="checkbox" style="display: none">
				<ul class="mobdropdownlist">
					<li><a href="/get-involved-tutors.html">- For Tutors</a></li>
					
					<li><a href="/get-involved-schools.html">- For Schools</a></li>
				</ul>
			</li>
			<li><a href="/blog/index.html">Blog</a></li>
			<li><a href="/contact-us.html">Contact Us</a></li>
		</ul>
	</nav>
</div>

</head>