<div id="webnav" class="nav"> 
	<img id="hamburger" src="/images/hamburger.svg" onclick="expandmobnav()">
	<a href="/index.html"><img src="/images/logo.jpg" style="max-width: 40px;"></a>
	<div id="navtitle">
		
		<a href="/index.html" id="headertitle">Students4Students</a>
		<a href="/index.html" id="headertitlemob">S4S</a>
	</div>
	<nav id="navcontent">
		<ul class="menulist">
			<li><a href="/index.html">Home</a></li>
			<li class="dropdownitem">
				<label>About Us</label>

				<ul class="dropdownlist">
					<li><a href="/about-what-we-do.html">What we do</a></li>
					
					<li><a href="/about-our-journey.html">Our Journey</a></li>
					
					<li><a href="/about-the-committee.html">Meet the Committee</a></li>
					
					<li><a href="/about-the-trustees.html">Meet the Trustees</a></li>
				
				</ul>
					
			</li>
			
			<li class="dropdownitem">
				<label>Get Involved</label>
				
				<ul class="dropdownlist">
					<li><a href="/get-involved-tutors.html">For Tutors</a></li>
					
					<li><a href="/get-involved-schools.html">For Schools</a></li>
				</ul>
			</li>
			<li><a href="/blog/index.html">Blog</a></li>
		</ul>
	</nav>
</div>



<div id="mobnav" class="nav"> 
	<div id="mobnavtitle">
		
	</div>
	<nav id="mobnavcontent">
		<ul class="mobmenulist">
			<li><a href="/index.html">Home</a></li>
			<li class="mobdropdownitem">
				<label for="about-us">About Us +</label>
				<input id="about-us" type="checkbox" style="display: none">
				<ul class="mobdropdownlist">
					<li><a href="/about-what-we-do.html">- What we do</a></li>
					
					<li><a href="/about-our-journey.html">- Our Journey</a></li>
					
					<li><a href="/about-the-committee.html">- Meet the Committee</a></li>
					
					<li><a href="/about-the-trustees.html">- Meet the Trustees</a></li>
				
				</ul>
					
			</li>
			
			<li class="mobdropdownitem">
				<label for="get-involved">Get Involved +</label>
				<input id="get-involved" type="checkbox" style="display: none">
				<ul class="mobdropdownlist">
					<li><a href="/get-involved-tutors.html">- For Tutors</a></li>
					
					<li><a href="/get-involved-schools.html">- For Schools</a></li>
				</ul>
			</li>
			<li><a href="/blog/index.html">Blog</a></li>
		</ul>
	</nav>
</div>