<head>
	<link rel="stylesheet" type="text/css" media="all" href="/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<title>Students4Students</title>
	
	<!-- JS -->
	<script src = "/js/functions.js"> </script>
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>

	
	<!-- Smooth Scrolling Script -->
	<script>
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top
						}, 1000);
						return false;
					}
				}
			});
		});
	</script>


</head>