---
---
<div class="content" id="blog">
	<h1>Blog</h1>
{% for post in paginator.posts %}
<div class="post">
	<a href="{{post.url}}"> <h2 class="title">{{post.title}}</h2></a>
	<p class="date"><span class="aligner"></span>{{ post.date | date_to_long_string }}</p>
	<div class="blogdivider"></div>
	{{post.content}}
</div>
{% endfor %}

<div class="pagination-links">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="button">&lt;</a>
	{% else %}
	
	<span class="button-grey-out">&lt;</span> 
	
	
	{% endif %}
	<h2 class="page-number"> Page: {{ paginator.page }} of {{ paginator.total_pages }}</h2>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="button">&gt;</a>
	{% else %}
	
	<span class="button-grey-out">&gt;</span> 
	
	
	{% endif %}
</div>
</div>
